# --------------------
# Environment
# --------------------

# --------------------
# Grafana runtime data
# --------------------
grafana-data/
grafana.db

# --------------------
# Prometheus runtime data
# --------------------
prometheus-data/
data/
wal/

# --------------------
# Docker volumes accidentally created in repo
# --------------------
**/volumes/
**/_data/

# --------------------
# OS / editor junk
# --------------------
.DS_Store
*.swp
*.log
